@model Common.ViewModels.ProductEdit

@{
    ViewBag.Title = "View";
}

<h2>Edit Product</h2>
@{
    var selectList = new SelectList(
        Model.Categories, "Id", "Name");
}

@Html.ValidationSummary()

<form action=@Url.Action("EditProduct","Product") method="post">

    <input type="hidden" name="Id" value="@Model.Product.Id" />

    <label>Name</label> <br />
    <input type="text" name="Name" readonly="readonly" value="@Model.Product.Name" /><br />

    <label>Price</label> <br />
    <input type="text" name="Price" value="@Model.Product.Price" /><br />


    <label>Category</label><br />

    <select name="CategoryId" id="CategoryId">

        @foreach (var t in selectList)
        {
            <option @if (t.Value == Model.Product.CategoryId.ToString()) { @: selected
                    }
                    value=@t.Value>
                @t.Text
            </option>
        }

    </select>


    <br />
    <button>Edit</button>
</form>
